body, html { margin:0; padding:0; }
#app {
  color: $black;
}
.page-view { margin:0 auto; max-width:1290px; box-sizing:border-box; padding:$gutter; text-align:left;
    > h1 { margin:(2*$gutter) 0; font-size:3rem; }
    h2 { margin-top:0; margin-bottom:0; font-size:2rem; }
}

/* actions holder */
menu.actions { margin:0; padding-left:0;
  &.actions--aright { text-align:right; }
  &.actions--acenter { text-align:center; }
  &.actions--aleft { text-align:left; }
  button { margin:0 ($gutter/2) 0;
    &:first-of-type { margin-left:0; }
    &:last-of-type { margin-right:0; }
  }
}

/* vue carousel */
.VueCarousel { height:100%;
  .VueCarousel-pagination { position:absolute; bottom:0; left:50%; transform: translateX(-50%); }
  .VueCarousel-dot, .VueCarousel-dot-button { margin-bottom:0; }
}

.vc-slide { display:flex;
  > * { flex:2 1 auto; font-style:italic; }
  > *:first-child { flex:0 1 25%; margin-right:2*$gutter; font-style:normal; }
  &.vc-slide--notif-info, &.vc-slide--notif-warning, &.vc-slide--notif-alert {
    .material-icons { font-size:4rem; }
  }
  &.vc-slide--notif-info { color:$blue; }
  &.vc-slide--notif-warning { color:darken(yellow, 30%); }
  &.vc-slide--notif-alert { color:darken(red, 30%); }
}

/* protovue */
.text.text.text { padding-top:$gutter;
  p { margin-bottom:($gutter/2); }
}