/* colors */
$beige: #efebe0;
$brown: #502f0e;
$green: #cfc910;
$blue-lite: #01c4ca;
$blue: #00acd2;
$white: #fff;
$black: #3e3e3e;
$black-lite: #4c4d4a;
$grey: #f5f5f5;

/* color milligram override */
$color-initial: $white;
$color-primary: $green;
$color-secondary: $brown;
$color-tertiary: $grey;
$color-quaternary: $black-lite;
$color-quinary: $black;

/* dimensions */
$gutter: 10px;
$logo-size: 70px;